.site-title {
  display: flex;
  align-items: right;   // vertical centering inside hover box
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 0.35rem 0;    // ensures text stays inside red hover bg
}

.site-header {
  height: auto;          // let it expand for wrapped text
  padding: 0.25rem 0.5rem;  // optional, gives breathing room
}

.site-header .container {
  display: flex;
  align-items: flex-start; // top-align the site title
}

code {
  background-color: #000;
  color: #4Af262;
  font-family: "VT323", monospace;
  font-size: 1rem;        // slightly larger than body
  padding: 0.1em 0.3em;
}

pre {
  background-color: #000;
  color: #4AF262;
  font-family: "VT323", monospace;
  font-size: 1rem;      // noticeably larger
  line-height: 1.3;
  padding: 1rem;
  border: 2px solid #111;  // optional: “screen frame”
}

.nav-list .nav-list-item > .nav-list-link.active {
  color: #ffffff;
}
