.site-title {
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  line-height: 0.5rem;
  text-transform: uppercase;
  max-width: 24rem;
}

.nav-list .nav-list-item > .nav-list-link.active {
  color: #ffffff;
}
