.site-title {
  font-size: 0.9rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.nav-list .nav-list-item > .nav-list-link.active {
  color: #ffffff;
}

body {
  background: hotpink !important;
}
