@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

$body-font-family: "Courier Prime", Courier, monospace;
$mono-font-family: "VT323", Courier, monospace;

$sidebar-color: #ded8cc;
$body-background-color: #f4f1ea;
$body-text-color: #1a1a1a;
$body-heading-color: #000;
$link-color: #7a1f1f;
$nav-child-link-color: #7a1f1f;
$feedback-color: #990000;
$search-result-preview-color: #5c1a1a;
$search-background-color: #f0ede6;
$code-background-color: #000;
$code-linenumber-color: #FFF;
$table-background-color: #f0ede6;
$base-button-color: #d6d0c4;
$btn-primary-color: #7a1f1f;
$border-color: #111;
$hr-border-color: #111;
