@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

$body-font-family: "Courier Prime", Courier, monospace;
$mono-font-family: "VT323", Courier, monospace;

$sidebar-color: #e6e1d6;
$body-background-color: #f4f1ea;
$body-text-color: #111111;
$link-color: #7a1f1f;
$nav-child-link-color: #4AF262;
$feedback-color: #990000;
$search-result-preview-color: #990000;
$body-heading-color: #000;
$code-background-color: #000;
$code-linenumber-color: #FFF;
